---
import Layout from '../../layouts/Layout.astro';
---
<Layout pageTitle="Class Photos">
  <main style="padding:2rem; text-align:center; color:#fff;">
    <h2>Class Photos</h2>
    <p>Coming soon.</p>
  </main>
</Layout>
